<div class="col-md-7">
  {{#if editMode}}
    {{input value=email autofocus=true}}
  {{else}}
    {{content.email}}
  {{/if}}
</div>
<div class="col-md-4">
  {{#if editMode}}
    <button
    {{action 'cancel'}}
      type="button"
      class="btn btn-danger"
    >Cancel
    </button>
    <button
      {{action 'save'}}
      type="button"
      class="btn btn-primary"
    >Save
    </button>
    {{else}}
      <button
      {{action 'deleteMeConfiramtion'}}
      type="button"
      class="btn btn-danger"
    >Delete
    </button>
    {{!-- {{action 'editMe'}} --}}
    {{#link-to
      'emails.detail' content.email
      type="button"
      class="btn btn-primary"
    }}
      Edit
    {{/link-to}}
  {{/if}}
  {{#if deleteMode}}
    <p>Are you sure you want to delete</p>
    <button
    {{action 'deleteMe'}}
      type="button"
      class="btn btn-danger"
    >Yes
    </button>
    <button
      {{action 'cancelDelete'}}
      type="button"
      class="btn btn-primary"
    >No
    </button>
  {{/if}}
</div>