<div class="col-md-4">
  {{#if editMode}}
    {{input value=email autofocus=true}}
  {{else}}
    {{content.email}}
  {{/if}}
</div>
<div class="col-md-4 col-md-offset-4">
  {{#if editMode}}
    <button
    {{action 'cancel'}}
      type="button"
      class="btn btn-danger"
    >Cancel
    </button>
    <button
      {{action 'save'}}
      type="button"
      class="btn btn-primary"
    >Save
    </button>
    {{else}}
      <button
      {{action 'deleteMe'}}
      type="button"
      class="btn btn-danger"
    >Delete
    </button>
    <button
      {{action 'editMe'}}
      type="button"
      class="btn btn-primary"
    >Edit
    </button>
  {{/if}}
</div>