<div class="col-md-10">
  {{#if editMode}}
    {{input value=email autofocus=true}}
  {{else}}
    {{#link-to
      'emails.detail' content.email
      class="list-group-item list-group-item-action flex-column align-items-start"
    }}
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{content.name}}</h5>
      <small>
        <button
          {{action 'deleteMeConfiramtion'}}
          type="button"
          class="close">
            <span aria-hidden="true">&times;</span>
        </button>
      </small>
    </div>
    <p class="mb-1">{{content.email}}</p>
    {{/link-to}}
  {{/if}}
</div>
<div class="col-md-4">
  {{#if deleteMode}}
    <p>Are you sure you want to delete</p>
    <button
    {{action 'deleteMe'}}
      type="button"
      class="btn btn-danger"
    >Yes
    </button>
    <button
      {{action 'cancelDelete'}}
      type="button"
      class="btn btn-primary"
    >No
    </button>
  {{/if}}
</div>