<div class="form-group">
    <h3>Filter</h3>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Email</label>
    {{input
        value=displayValue
        key-up=(action 'filterItem' 'email')
        type="text"
        class="form-control"}}
    <label>Select list:</label>
    <select class="form-control" onchange={{action 'filterItem' 'name'}}>
        <option selected={{isBlankSelected}}> -- Choose... -- </option>
        {{#each content as |content|}}
            <option value={{content.name}} selected={{eq selectedOption content.name}}>{{content.name}}</option>
        {{/each}}
    </select>
    <label for="">Check both</label>
    <input
        type="checkbox"
        checked={{isChecked}}
        onclick={{action "checkBoth"}}
    >
    <button
        type="button"
        class="btn btn-primary"
        onclick={{action 'resetItems'}}
        disabled={{isBtnVisible}}
        >Reset
    </button>
    <br><br>
</div>
