<div class="col-lg-6">
  <h1>Emails List
  	<span class="badge badge-primary badge-pill">{{content.length}}</span>
  </h1>
  {{m-filter
    type="input"
    name="email"
    value=emailInputFilterValue
    onChangeAction="updateFilter"
  }}
  {{m-filter
    type="select"
    options=invitationNamesList
    name="name"
    selectedOption=nameInputFilterValue
    onChangeAction="updateFilter"
  }}
  {{m-filter
    type="select"
    options=invitationCompaniesList
    name="company"
    selectedOption=companyInputFilterValue
    onChangeAction="updateFilter"
  }}
  {{filter-check-any checkBoth='checkBoth'}}
  {{filter-reset-button reset='reset'}}
  <div class="list-group">
    {{#each filteredContent as |email|}}
      {{email-list/item
        content=email
        deleteAction="deleteItem"
        updateAction="updateItem"
      }}
    {{/each}}
  </div>
</div>
