<div class="col-lg-6">
  <h1>Emails List
  	<span class="badge badge-primary badge-pill">{{content.length}}</span>
  </h1>
  {{filter-inputs
    displayValue=displayValue
    selectedOption=selectedOption
    isBtnVisible=isBtnVisible
    updateCheckbox='updateCheckbox'
    refreshList='refreshList'
    resetFilter='resetFilter'
  }}
  {{filter-check-any checkBoth='checkBoth'}}
  {{filter-reset-button
    reset='reset'
    activateBtn='activateBtn'}}
  <div class="list-group">
    {{#each filteredContent as |email|}}
      {{email-list/item
        content=email
        deleteAction="deleteItem"
        updateAction="updateItem"
      }}
    {{/each}}
  </div>
</div>
