<div class="form-group">
    <label class="my-1 mr-2">{{name}}</label>
    {{#if isInput}}
        {{input
            value=value
            key-up="filterItem"
            type="text"
            class="form-control"
        }}
    {{/if}}
    {{#if isSelect}}
        <select class="form-control" onchange={{action "filterItem"}}>
            <option selected={{isBlankSelected}}> -- Choose... -- </option>
            {{#each options as |option|}}
                <option value={{option.value}} selected={{eq selectedOption option.value}}>{{option.label}}</option>
            {{/each}}
        </select>
    {{/if}}
    <br><br>
</div>
